/.phpunit.cache
/vendor

/.fleet
/.idea
/.vscode


/arte-sania/node_modules
/arte-sania/.pnp
/arte-sania/.pnp.js

# testing
/arte-sania/coverage

# production
/arte-sania/build

# misc
/arte-sania/.DS_Store
/arte-sania/.env.local
/arte-sania/.env.development.local
/arte-sania/.env.test.local
/arte-sania/.env.production.local

./arte-sania/npm-debug.log*
./arte-sania/yarn-debug.log*
./arte-sania/yarn-error.log*

