@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'openreg';
  src: url('../public/fonts/open-regular.ttf');
}

@font-face {
  font-family: 'openbold';
  src: url('../public/fonts/open-black.ttf');
}

body {
  margin: 0;
  font-family: openreg, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
